<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/style/index.css" media="all">

<body>
  <div class="page-content">
    <div class="top">
      <div class="click-bar">
        <li class="left flex-bar active">通知</li>
        <li class="right flex-bar">错误报告</li>
      </div>
    </div>
    <div class="scroll-content">
      <div class="scrollload-container">
        <ul class="scrollload-content">
          <div class="list-item">
            <div class="left-content">
              <div class="image">
                <img src="../static/style/img/BG_battlepass_word_03.png" alt="">
              </div>
              <div class="content">
                <div class="title">123123123</div>
                <div class="line"></div>
                <div class="time">
                  <span class="info">通知</span>
                  <span class="date">2020-10-24</span>
                </div>
              </div>

            </div>
            <div class="right-content">
              <div class="btn">前往</div>
            </div>

          </div>
        </ul>
      </div>
    </div>

  </div>
</body>
<script>


</script>
<script src="../static/public/jquery/jquery-3.3.1.min.js"></script>
<script src="../static/public/scrollLoad/Scrollload.js"></script>
<script src="../static/public/mustache/mustache.min.js"></script>
<script type="text/template">

</script>
<script src="../static/script/index.js"></script>

</html>